header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
    margin: 0;
    font-family: 'Amatic SC', cursive
}

nav a {
    color:rgb(0, 0, 0);
    font-size: 20px;
    margin: 20px;
}

button{
    padding: 10px 40px;
    border-radius: 50px;
    background-color: black;
    color: rgb(255, 153, 0);
    border:rgb(0, 0, 0) ;
    font-size: 20px;
    font-family: 'Amatic SC';
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background-color: rgb(223, 152, 0);
    transform: sсale(2.0);
}

div{
    text-align: left;
    padding: 70px;
    background-image: url(pompa.jpeg);
    background-size: cover;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 50px;
}

p{
    color: rgb(68, 0, 255);
    font-size: 20px;
    font-weight: bold;
}

footer{
    background-color: rgb(0, 0, 0);
}

footer p{
    margin: 0;
    padding: 50px;
}

@media(max-width: 500px){
    header{
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    nav{
        margin: 10px 0;
    }

    h1{
        font-size: 30px;
    }
    p{
        font-size: 18px;
    }
    div{
        padding: 20px 10px;
    }
}

button a{
    text-decoration:rgb(0, 0, 0);
    color:rgb(255, 166, 0);
}

div{
    background-image: url(skar.jpg);
}

button{
    padding: 15px 40px;
    border-radius: 50px;
    background-color: rgb(10, 112, 31);
    color: rgb(255, 0, 0);
    border: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Amatic SC';
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background-color: rgb(238, 255, 0);
    transform: sсale(20.0);
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    margin: 0;
    padding: 50px;
}

button{
    padding: 15px -40px;
    border-radius: 50px;
    background-color: rgb(10, 112, 31);
    color: rgb(255, 0, 0);
    border: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Amatic SC';
    cursor: pointer;
    transition: .4s;
}

footer p{
    margin: 0;
    padding: 50px;
}